<div class="form-row">
    <label for="node-input-name">
        <i class="fa fa-tag"></i>
        <span data-i18n="huedoo-bridge-node.config.name"></span>
    </label>
    <input type="text" id="node-input-name" data-i18n="[placeholder]huedoo-bridge-node.config.input-name" style="width: calc(100% - 105px)">
</div>
<div class="form-row">
    <label for="node-input-bridge">
        <i class="fa fa-server"></i>
        <span data-i18n="huedoo-bridge-node.config.bridge" style="width: 100%; margin-left: 10px;"></span>
    </label>
    <input type="text" id="node-input-bridge" style="width: calc(100% - 105px)">
</div>
<div class="form-row" style="margin-top: 30px">
    <div style="display: inline-flex; width: calc(100% - 105px)">
        <input type="checkbox" id="node-input-skipglobalevents" style="flex: 15px;">
        <span data-i18n="huedoo-bridge-node.config.skipglobalevents-info" style="width: 100%; margin-left: 10px;"></span>
    </div>
</div>
<div class="form-row">
    <div style="display: inline-flex; width: calc(100% - 105px)">
        <input type="checkbox" id="node-input-initevents" style="flex: 15px;">
        <span data-i18n="huedoo-bridge-node.config.sendinitevents-node" style="width: 100%; margin-left: 10px;"></span>
    </div>
</div>