<script type="text/javascript">
    RED.nodes.registerType('huedoo-bridge-node',{
        category: 'HueDoo',
        color: '#b7b7b7',
        defaults: {
            name: { value:"" },
            bridge: { type: "huedoo-bridge-config", required: true },
            autoupdates: { value: true },
            skipglobalevents: { value: false },
            initevents: { value: false }
        },
        align: 'left',
        icon: "huedoo-bridge-node.png",
        inputs: 1,
        outputs: 1,
        label: function() {
            return this.name || this._("huedoo-bridge-node.node.title");
        },
        paletteLabel: function() {
            return this._("huedoo-bridge-node.node.title");
        },
        inputLabels: function() {
            return this._("huedoo-bridge-node.node.input");
        },
        outputLabels: function() {
            return this._("huedoo-bridge-node.node.output");
        },
        button: {
            onclick: function()
            {
                const node = this;
                if(node.bridge)
                {
                    $.ajax({
                        url: "inject/" + node.id,
                        type: "POST",
                        data: JSON.stringify({ __user_inject_props__: "status"}),
                        contentType: "application/json; charset=utf-8",
                        success: function (resp) {
                            RED.notify(node.name + ": " + node._("huedoo-bridge-node.node.statusmsg"), { type: "success", id: "status", timeout: 2000 });
                        }
                    });
                }
            }
        }
    });
</script>